.mainPage {
    background-color: #4E4E4E;
}

.postsSection {
    display: grid;
    grid-template-areas: 'dailyPostItem' 'postItems';
    height: 100%;
    padding: 40px;
    overflow-y: auto;
}

.postItems {
    display: grid;
    grid-area: postItems;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
}