.customLink {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.customLinkIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.customLinkTitle {
    font-size: 20px;
    font-weight: bold;
}