.postItem {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2B2B2B;
    &:first-child {
        margin-top: 0;
    }  
}

.postTitle {
    font-size: 20px;
    font-weight: bold;
    color: #66DAFF;
}

.postText {
    margin-top: 10px;
    font-size: 17px;
    color: #F5F5F5;
}